.sign-in {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--lighter-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Tenor Sans';
}

.sign-in > img {
  width: 200px;
  margin-bottom: 2rem;
}

.sign-in__modal {
  width: 550px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
  align-items: center;
  border: 1px solid white;
  background-color: var(--card-background-color);
  border-radius: 10px;
}

.sign-in__modal > h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--dark-background);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 70%;
}

input {
  font-size: 1rem;
  background-color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  color: black;
}

.sign-in__button {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--dark-background);
  cursor: pointer;
}

.sign-in__modal > p {
  color: var(--dark-background);
}

.sign-in__modal > p > a {
  color: var(--dark-background);
  text-decoration: underline;
  cursor: pointer;
}

.sign-in__button_inactive {
  cursor: none;
  opacity: 0.5;
  pointer-events: none;
}

span {
  color: red;
  display: block;
}

input:invalid ~ span {
  display: block;
}

@media (max-width: 768px) {
  .sign-in > img {
    width: 150px;
  }
}

@media (max-width: 640px) {
  .sign-in__modal {
    width: 85%;
  }
}
