.menu {
  margin-top: 0vh;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'Tenor Sans';
  background-color: var(--card-background-color);
}

.menu__background {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.menu__header {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
  padding-top: 2rem;
  margin: auto;
}

.menu__logo {
  width: 100px;
  margin-left: 2rem;
}

.menu__main {
  margin-top: 10rem;
  display: flex;
  align-items: start;
  justify-content: center;
  color: black;
  position: relative;
  overflow: hidden;
}

.menu__items {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-right: 4rem;
  max-width: 40%;
  overflow: hidden;
}

.menu__items > h2 {
  font-size: 4rem;
  display: none;
  color: white;
}

.menu__category-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

hr {
  border: 1px solid grey;
  margin-top: -0.6rem;
}

.menu__right-column {
  width: 40%;
  display: inline-block;
  position: relative;
  padding-left: 4rem;
}

.menu__right-column > h2 {
  font-weight: 400;
  font-size: 4rem;
  text-align: left;
  position: absolute;
  bottom: -5rem;
  left: -1rem;
  transform-origin: 0 0;
  transform: rotate(270deg);
}
.menu__footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--dark-background);
}
.menu__footer-wrapper {
  width: 90%;
  height: 8rem;
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 1rem;
  margin: auto;
}

.menu__checkout-button {
  height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
