.hero {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
}

.hero__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  padding-left: 4rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  row-gap: 1.5rem;
}

.hero__title {
  font-family: 'Tenor Sans';
  font-size: 4vw;
  line-height: 1;
}

.hero__paragraph {
  font-family: 'Tenor Sans';
  font-size: 1rem;
}
