.editCartPopup {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editCartPopup__card {
  width: 60%;
  height: 80%;
  background-color: var(--card-background-color);
  border-radius: 10px;
}
