.footer {
  width: 100vw;
  height: 10vh;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > p {
  font-family: 'Tenor Sans';
  font-weight: 300;
  font-size: 0.8rem;
  opacity: 0.8;
}
