.ourTradition {
  width: 100vw;
  min-height: 100vh;
  z-index: 10;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: center;
}

.ourTradition__background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.ourTradition__container {
  margin-right: 10%;
  width: 40%;
  font-family: 'Tenor Sans';
  line-height: 2rem;
  padding-block: 4rem;
  margin-bottom: 10vh;
}

.ourTradition__container > h2,
.ourTradition__container > hr {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .ourTradition__background {
    object-position: 30%;
  }

  .hero__image {
    object-position: 30%;
  }

  .hero__wrapper {
    width: 50%;
  }
}
