@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url(./vendor/normalize.css);
@import url(./components/ErrorPage/ErrorPage.css);
@import url(./components/App/App.css);
@import url(./components/Navbar/Navbar.css);
@import url(./components/Footer/Footer.css);
@import url(./components/Header/Header.css);
@import url(./components/Navigation/Navigation.css);
@import url(./components/AboutUs/AboutUs.css);
@import url(./components/Hero/Hero.css);
@import url(./components/AboutUs/AboutUs.css);
@import url(./components/Footer/Footer.css);
@import url(./components/SignIn/SignIn.css);
@import url(./components/SignUp/SignIn.css);
@import url(./components/Menu/Menu.css);
@import url(./components/FoodCard/FoodCard.css);
@import url(./components/OurTradition/OurTradition.css);
@import url(./components/MenuItem/MenuItem.css);
@import url(./components/EditCartPopup/EditCartPopup.css);
@import url(./components/Checkout/Checkout.css);
@import url(./components/CartItem/CartItem.css);
@import url(./components/OrderComplete/OrderComplete.css);
@import url(./components/MyProfile/MyProfile.css);
@import url(./components/SuccessPopup/SuccessPopup.css);
@import url(./components/LoginErrorPopup/LoginErrorPopup.css);

:root {
  font-family: 'Tenor Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --card-background-color: #d9d9d9;
  --lighter-background: #373737;
  --dark-button: #222222;
  --dark-background: #222222;
  --popup-overlay: rgba(0, 0, 0, 0.8);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 500px;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

p,
button,
a,
li {
  font-family: 'Roboto';
  font-weight: 400;
}

h2 {
  font-family: 'Tenor Sans' sans-serif;
}

.button {
  font-family: 'Roboto' sans-serif;
  font-weight: 700;
}
