.custom-button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 250ms ease-in-out;
  border-radius: 2rem;
  font-size: 1rem;
}

.custom-button--primary {
  border: none;
  background-color: var(--dark-button);
  color: white;
}

.custom-button--secondary {
  border: none;
  background-color: var(--dark-button);
  color: white;
}

.custom-button--tertiary {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}
.custom-button--quaternary {
  border: none;
  color: black;
  background-color: white;
}

.custom-button:hover {
  opacity: 0.6
}
